<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="rabbitMqHost" value="rabbitmq://localhost" />
		<add key="rabbitMqUsername" value="guest" />
		<add key="rabbitMqPassword" value="guest" />
		<add key="rabbitInputQueue" value="sagas-demo-order-generator" />
	</appSettings>
</configuration>