<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="rabbitMqHost" value="rabbitmq://localhost/" />
		<add key="rabbitMqUsername" value="guest" />
		<add key="rabbitMqPassword" value="guest" />
		<add key="rabbitMqCommand2Queue" value="command2-queue" />
	</appSettings>
</configuration>